<!DOCTYPE html>
<html lang="nl-be">

<%- include("partials/head") %>

    <body id="body-guess-pokemon">
        <%- include("partials/header") %>
            <main id="main-guess-pokemon">
                <h2 class="black-center-text">Wie is deze Pokémon???</h1>
                    <section id="guess-image-container">
                        <img id="img-guess" src="<%= pokemon.sprites.front_default %>" alt="<%= pokemon.name %>">
                    </section>
                    <input type="text" id="pokemon-input" placeholder="Typ hier de naam van de Pokémon">
                    <a href="/battle"><button id="button-submit" type="submit">Indienen</button></a>
            </main>
            <aside>
                <%- include("partials/asideCP") %>
            </aside>
            <%- include("partials/footer") %>
    </body>
</html>