<html lang="nl-be">
    <%- include("partials/head") %>
<body>
    <%- include("partials/header") %>
    <main class="main-container">
        <% pokemons.forEach(pokemon => { %>
            <a href="#">
                <section class="box">
                    <article class="box-content">
                        <img src="<%= pokemon.sprites.front_default %>" alt="<%= pokemon.name %>">
                        <div>
                            <h1><%= pokemon.name.charAt(0).toUpperCase() + pokemon.name.slice(1) %></h1>
                            <% pokemon.types.forEach((type, i) => { %>
                                <span id="type<%= i + 1 %>" class="type"><%= type.type.name.charAt(0).toUpperCase() + type.type.name.slice(1) %></span>
                            <% }) %>
                        </div>

                    </article>
                </section>
            </a>
        <% }) %>
    </main>
    <aside>
        <section class="current-pokemon-container">
            <article class="current-content">
                    <h1>Your pokemon</h1>
                    <img src="assets/Hektakun-Pokemon-006-Charizard.72.png" alt="current pokemon">
                    <h2>Charizard</h2>
            </article>
        </section>
        <section class="aside-container">
            <article class="aside-content">
                    <input type="text" placeholder="Search..." id="input-search">
                    <div>
                    <input type="checkbox" id="type1" id="input-checkbox">
                    <label for="type1">Poison</label>
                    <input type="checkbox" id="type2" id="input-checkbox">
                    <label for="type2">Poison</label>
                    </div>
                    <div>
                    <input type="checkbox" id="type3" id="input-checkbox">
                    <label for="type3">Poison</label>
                    <input type="checkbox" id="type4" id="input-checkbox">
                    <label for="type4">Poison</label>
                    </div>
                    <div>
                        <input type="checkbox" id="type5" id="input-checkbox">
                        <label for="type5">Poison</label>
                        <input type="checkbox" id="type6" id="input-checkbox">
                        <label for="type6">Poison</label>
                        </div>
            </article>
        </section>

    </aside>
    <%- include("partials/footer") %>
</body>
</html>