<html lang="nl-be">
    <head>
        <%- include("partials/head") %>
      </head>
      <body>
    <%- include("partials/header") %>
    <main class="background-image">
        <section class="catch-heading">
            <article>
                <h1>Click To Catch!</h1>
            </article>
        </section>
        <section class="catch-container">
            <article>
                <form action="/tester" method="post" id="catch-form"></form>
                <input type="hidden" name="pokemonId" value="<%= pokemon.id %>">
                <a class="catch" href="/overzicht" onclick="document.getElementById('catchForm').submit(); return false;">><img src="<%= pokemon.sprites.other.showdown.front_default %>" alt="<%= pokemon.id %>"></a>
            </article>
        </section>
    </main>
    <%- include("partials/footer") %>
</body>
</html>